<!DOCTYPE html>
<html>
<script src="../../Scripts/angular.min.js"></script>
<script src="../../Scripts/AngularController/HomeAngularJS.js"></script>
<body>

    <div ng-app="HomeApp" ng-controller="HomeController">
        Enter name :
        <input type="text" ng-model="name1" />
        <a href="#" ng-click="showname(name1)">Submit</a><br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        Entered name : {{name2}}
    </div>
</body>
</html>
